/Aspire-AutoTradeSystem/obj
/Aspire-AutoTradeSystem/bin
/.vs/Aspire-AutoTradeSystem.slnx/DesignTimeBuild
/.vs/Aspire-AutoTradeSystem.slnx/FileContentIndex
/.vs/Aspire-AutoTradeSystem.slnx/v18
.vs/Aspire-AutoTradeSystem.slnx/solutionOpened
*.bin
/.vs
